<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'files/pics/logo.png' %}"
    />
    <script src="{% static 'js/login-js.js' %}"></script>
    <title>Verify Page</title>
  </head>
  <body>
    <header>
      <h1 onclick="window.location.href='index.html'">Nura bank</h1>
    </header>
    <main>
      <section>
        <div class="container">
          <div class="login">
            <p class="title"><span>Login to your Account</span></p>
            {% if messages %}
            {% for msg in messages %}
               <div style="color:red; text-align:center; font-size:24px; margin-top:10%" class="alert alert-{{msg.tags}}">
                {{msg}}
               </div>
            {% endfor %}
            {% endif %}
            <form method='post' action='verify'>
              {% csrf_token %}
              <label for="password">Enter your Otp</label>
              <input type="password" id="password" name="otp0" required />
              <button type="submit">Login</button>
            </form>
            
            <p class="create">
              <span
                >Want to Create an Account?
                <a href="/">Click here</a></span
              >
            </p>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
